- rep        = @reports[rep_title.to_sym]
- data       = rep[:results]
- dimensions = rep[:dimensions]
- metrics    = rep[:metrics]
- range      = (rep[:start_date].to_date .. rep[:end_date].to_date).to_a
%tbody{:units => 'visit'}
  - range.each do |date|
    / Order visitors by date
    - point = data.points[range.index(date)]
    - next unless point
    %tr
      %td
        - value = point.dimensions.map{|m| m.values }.flatten.join(' ')
        = link_to truncate(value), value, :title => value, :target => "_blank"
      %td= point.metrics.map{|m| m.values }.flatten.join(' ')
