.DS_Store
.bundle/
log/*.log
pkg/
# spec/dummy/config/
spec/dummy/db/*.sqlite3
spec/dummy/db/schema.rb
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/
spec/dummy/vendor/plugins/resource_controller
spec/dummy/vendor/plugins/resource_controller/*
terryblr-*.gem
tmp/
Gemfile.lock
vendor/ruby
Terryblr.tmproj
doc/*
.yardcache/*
.yardoc/*
webrat.log