.DS_Store
.bundle/
log/*.log
pkg/
spec/dummy/config/
spec/dummy/db/
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/
spec/dummy/vendor/
spec/dummy/db/migrate
terryblr-*.gem
tmp/
Gemfile.lock
vendor/ruby
Terryblr.tmproj

