%h2 #{ttt :new_admin}

= semantic_form_for @user, :url => admin_users_path do |form|
  #form_content{:class => "span-17"}
    = error_messages_for :user
    = render :partial => "form", :locals => { :form => form }
