$("#flash_messages").html("#{escape_javascript(flash_messages)}").hide().fadeIn()
var content_parts_container = $("#content_parts_container")
content_parts_container.append("#{escape_javascript(render(:partial => 'form'))}")
