%ul.posts-stream
  =render :partial => "list", :locals => { :posts => [@object] }

.clear
  
#page_nav
  = link_to tt(".arrow_previous"), previous_post_path(@object), :class => "left" if @object.previous
  = link_to tt(".arrow_next"), next_post_path(@object), :class => "right" if @object.next

.clear
